h1{
    font-size:33px;
    color:green;
    text-align: center;
}
.btn{
    width:600px;
    padding:10px;
    margin-top:22px;
}
.startBtn{
    width:600px;
    padding:10px;
    margin-top:22px;
}
.btn:hover{
    background-color:yellow;
    border:1px solid black;
}
h2{
    color:black;
    text-align: center;
}
#question{
    background-color:pink;
    line-height:75px;
}
.hide{
    display: none;
}
.show{
    display:block;
}